version: '3'

services:
  api:
    restart: unless-stopped
    build: server
    command: 'flask run --host=wedding_api --port=5005'
    environment:
      - FLASK_ENV=production
      - FLASK_APP=server.py
    networks:
      bridge:
        aliases:
          - wedding_api
    ports:
      - '5005:5005'

  client:
    restart: unless-stopped
    build: client
    links:
      - api
    networks:
      bridge:
        aliases:
          - wedding_client
    ports:
      - '3005:80'
    depends_on:
      - api

networks:
  default:
    external: true
    name: bridge
